<h2>Գաղտնաբառի վերականգնում</h2>
<p>Ողջույն <b>{{ name }}</b></p>
<p>Դուք կայքից գաղտնաբառի վերականգնման հայտ եք ուղարկել։</p>
<p>Ձեր գաղտնաբառը փոխելու համար սեղմեք ստորև նշված հղմանը:</p>
<a href="{{ url }}">Վերականգնել</a>